@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add these rules to hide the scrollbar */
html, body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}